/*
 * Empty Stylesheet file.
 */

#stone{
    -fx-background-color : wheat
}

#blackStone{
     -fx-background-color : #000000
}

#whiteStone{
     -fx-background-color : red;
}
.gameview{
    -fx-background-color : skyblue
}
#titleLbl{
    -fx-font-color : red
}