/*
 * Empty Stylesheet file.
 */

#stone{
    -fx-color : wheat;
    -fx-border:solid 3px black;
}

#blackStone{
     -fx-background-color : #000000
}

#whiteStone{
     -fx-background-color :#e6e6e6;
}
.gameview{
    -fx-background-color : skyblue
}
#titleLbl{
    -fx-font-color : red
}

#exit:hover{
    -fx-background-color :red;
}